/*Overall Styling: fonts, text_size, color*/
html {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #FFFBF5;
}

h1 {
    font-family: "Unica One", sans-serif;
    font-weight: 500;
    font-size: 64px;
}

h2 {
    font-family: "Unica One", sans-serif;
    font-weight: 500;
    font-size: 32px;
}

h3 {
    font-family: "Vollkorn", serif;
    font-weight: 400;
    font-size: 20px;
}

h4 {
    font-family: "Unica One", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

body {
    font-family: "Vollkorn", serif;
    font-weight: 400;
    font-size: 15px;
}

nav {
    font-family: "Unica One", sans-serif;
    font-weight: 500;
    font-size: 15px;
}

p {
    font-family: "Vollkorn", serif;
    font-weight: 400;
    font-size: 15px;
}

/*Styling header with grid*/
header {
    display: grid;
    margin: 0;
    width: 100%;
    background-color: #E7D4B5;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    padding: 10px 20px;
}

nav {
    justify-self: right;
    grid-column: 2;
    grid-row: 1;
    margin-top: 25px;
    visibility: hidden;
}

nav li {
    margin: 10px;
}

nav ul {
    list-style-type: none;
    text-align: end;
}

nav a {
    text-decoration: none;
    color: black;
}

.nav-toggle {
    grid-column: 2;
    grid-row: 1;
    margin: 0;
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    color: black;
    justify-self: right;
    align-self: flex-start;
}

.exit-icon {
    display: none;
}

.nav-open nav {
    visibility: visible;
    display: block;
}

.nav-open .hamburger-icon {
    display: none;
}

.nav-open .exit-icon {
    display: inline-block;
}

nav a:hover {
    color: #FFFBF5;
}

.payment {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
    align-self: end;
}

/*Styled Form & image*/
main {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: -20px;
}

form {
    width: 90%;
    margin-bottom: -25px;
}

form label {
    color: #6A8C62;
    font-family: "Unica One", sans-serif;
    font-weight: 500;
    font-size: 15px;
}

form input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid #6A8C62;
    font-family: "Unica One", sans-serif;
}

.butt {
    display: block;
    margin: 15px 15%;
    width: 400px;
    border-radius: 5px;
    border-color: black;
}

form {
    display: grid;
    font-family: "Unica One", sans-serif;
    font-weight: 500;
    font-size: 15px;
    width: 95%;
    margin: 15px auto;
}

button {
    background-color: #6A8C62;
    border-radius: 10px;
    width: 80px;
    height: 5%;
    margin: 20px;
    font-family: "Unica One", sans-serif;
    color: white;
}

button:hover {
    color: black;
}

footer {
    margin-top: -25px;
    width: 100%;
    background-color: #E7D4B5;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px; /* Adjust as needed */
}

.logo{
    margin-top: 5px;
    height: 30px;
    justify-self:flex-end;
}

@media screen and (min-width: 768px) {
    main {
        margin: 10px 0;
    }

    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 20px;
        width: 90%;
    }

    form input, textarea {
        width: 100%;
        padding: 35px;
        margin-bottom: 20px;
        border-radius: 3px;
        border: 1px solid #6A8C62;
        font-family: "Unica One", sans-serif;
    }

    .required {
        grid-column: 1;
        grid-row: 1;
    }

    .additional {
        grid-column: 2;
        grid-row: 1;
    }

    button {
        background-color: #6A8C62;
        border-radius: 10px;
        width: 80px;
        height: 5%;
        margin: 10px;
        font-family: "Unica One", sans-serif;
        color: white;
    }

    .submit {
        width: 10%;
    }

    button:hover {
        color: black;
    }

    .butt {
        min-width: 350px;
        width: 100%;
        padding-right: 180px;
        padding-left: -60px;
        max-width: 700px;

    }

    footer {
        margin-top: 10px;
    }

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header, main, footer {
    width: 100vw;
}

